<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Gazebo base controller plugin -->
  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>100.0</odometryRate>
      <robotBaseFrame>base_lnk</robotBaseFrame>
      <publishTF>false</publishTF>
    </plugin>
  </gazebo>
   
  <!-- Gazebo motor controller plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

<!-- RealSense plugin -->
  <gazebo>
    <plugin name="frnt_cam" filename="librealsense_gazebo_plugin.so">
    </plugin>
  </gazebo>

<!-- Load parameters to camera link-->
  <gazebo reference="frnt_cam_lnk">
    <sensor name="frnt_cam_clr" type="camera">
      <pose frame="">0 -0.046 0.004 0 0 0</pose>
      <camera name="frnt_cam">
      <horizontal_fov>1.047</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>RGB_INT8</format>
      </image>
      <clip>
        <near>0.1</near>
        <far>100</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.007</stddev>
      </noise>
      </camera>
        <always_on>1</always_on>
        <update_rate>60</update_rate>
        <visualize>1</visualize>
    </sensor>
    <sensor name="frnt_cam_ired1" type="camera">
      <pose frame="">0 -0.06 0.004 0 0 0</pose>
      <camera name="frnt_cam">
      <horizontal_fov>1.047</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>L_INT8</format>
      </image>
      <clip>
        <near>0.1</near>
        <far>100</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.05</stddev>
      </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>60</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="frnt_cam_ired2" type="camera">
      <pose frame="">0 0.01 0.004 0 0 0</pose>
      <camera name="frnt_cam">
      <horizontal_fov>1.047</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>L_INT8</format>
      </image>
      <clip>
        <near>0.1</near>
        <far>100</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.05</stddev>
      </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>60</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="frnt_cam_dpth" type="depth">
      <pose frame="">0 -0.03 0.004 0 0 0</pose>
      <camera name="frnt_cam">
      <horizontal_fov>1.047</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
      </image>
      <clip>
        <near>0.1</near>
        <far>100</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.100</stddev>
      </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>60</update_rate>
      <visualize>0</visualize>
    </sensor>
  </gazebo>
  
</robot>
